<!DOCTYPE html>
<html>
    
    <head>
        <title>Kysymykset</title>
    </head>
    
    <body>
        <h1>Huonekalut</h1>
        
        <p>
            Tässä lista kysymyksistä:.
        </p>
        
        <p th:text="${lista}">
            :D
        </p>
        
        <ul>
            <li th:each="arvo : ${lista}">
                <span th:text="${arvo}">
                    :DD
                </span>
            </li>
        </ul>
        
        <form action="/kysymys" method="POST">
            <input type="text" name="Kysymys"/>
            <input type="submit"/>
        </form>
        <form action="/vastaus" method="POST">
            <input type="text" name="Vastaus"/>
            <input type="submit"/>
        </form>
        
    </body>
    
</html>