<!DOCTYPE html>
<html>
    
    <head>
        <title>Kysymys</title>
    </head>
    
    <body>
        <h1>Kysymys</h1>
        <ul>
            <li th:each="arvo2 : ${lista}">
                <span th:text="${arvo2}">
                    :D
                </span> 
            </li>
        </ul>
        <h1>Vastaukset</h1>
        <ul>
            <li th:each="arvo : ${lista2}">
                <span th:text="${arvo}">
                    :DD
                </span>
                <form method="POST" th:action="@{~/poista/vastaus/{id}(id=${arvo.id})}">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>
        <h2>Lisää vastaus</h2>
        
        <ul>
            <li th:each="arvo2 : ${lista}">
                <form method="POST" th:action="@{~/vastaus/{id}(id=${arvo2.id})}">
                    <br>Vastausteksti:<br/>
                    <input type="text" name="vastausteksti"/><br/>
                    <br>oikein:<br/>
                    <input name="oikein" type="checkbox" value = '1'><br/>
                    <button type="submit" value="HTML">Lisää vastaus</button>                   
                </form>
            </li>
        </ul>

    </body>
    
</html>