<!DOCTYPE html>
<html>
    
    <head>
        <title>Kysymykset</title>
    </head>
    
    <body>
        <h1>Kysymykset</h1>
        <ul>
            <li th:each="arvo : ${lista}">
                <span th:text="${arvo}">
                    :D
                </span>
                <form method="POST" th:action="@{~/poista/{id}(id=${arvo.id})}">
                    <input type="submit" value="Poista"/>
                </form>
                <form method="POST" th:action="@{~/vastaukset/{id}(id=${arvo.id})}">
                    <input type="submit" value="Vastaukset"/>
                </form>  
            </li>
        </ul>
        <h3>Lisää kysymys</h3>
        <form method="POST" action="/kysymys">
            Aihe:<br/>
            <input type="text" name="aihe"/><br/>
            Kysymysteksti:<br/>
            <input type="text" name="kysymysteksti"/><br/>
            Kurssi:<br/>
            <input type="text" name="kurssi"/><br/>
            <button name="subject" type="submit" value="HTML">Lisää kysymys</button>
        </form>
    </body>
</html>