<!DOCTYPE html>
<html>
    
    <head>
        <title>Kysymykset</title>
    </head>
    
    <body>
        <h1>Kysymykset</h1>
        <p>
            Tässä lista kysymyksistä:
        </p>
        <h1> Kysymykset</h1>
        <ul>
            <li th:each="arvo:${lista}">
                <form th:action="@{~/poista/{id}(id=${arvo.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
                <span th:text="${arvo}">
                    :DD
                </span>
                <form method="POST" action="@{~/vastaus/{id}(id=${arvo.id})}">
                    Vastausteksti:<br/>
                    <input type="text" name="vastausteksti"/><br/>
                    oikein:<br/>
                    <input name="totta" type="checkbox">
                    <button name="subject" type="submit" value="HTML">Lisää vastaus</button>                   
                </form>
                <form th:action="@{~/vastaukset}" method="POST">
                    <input type="submit" value="Vastaukset"/>
                </form>
            </li>
        </ul>
        <form method="POST" action="/kysymys">
            Aihe:<br/>
            <input type="text" name="aihe"/><br/>
            Kysymysteksti:<br/>
            <input type="text" name="kysymysteksti"/><br/>
            Kurssi:<br/>
            <input type="text" name="kurssi"/><br/>
            <button name="subject" type="submit" value="HTML">Lisää kysymys</button>
        </form>
    </body>
</html>